<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="confirm(false)" >&times;</button>
        <h4 class="modal-title">{{title || 'Confirmação'}}</h4>
      </div>
      <div class="modal-body">
        <p>{{message || 'Tem certeza?'}}</p>
      </div>
      <div *ngIf="positionBtnYes === 'right'"  class="modal-footer">
        <button type="button" class="btn {{btnNoClass}}" (click)="confirm(false)">{{btnNo || 'Cancelar'}}</button>
        <button type="button" class="btn {{btnYesClass}}" (click)="confirm(true)">{{btnYes || 'Confirmar'}}</button>
      </div>
      <div *ngIf="positionBtnYes === 'left'"  class="modal-footer">
        <button type="button" class="btn {{btnYesClass}}" (click)="confirm(true)">{{btnYes || 'Confirmar'}}</button>
        <button type="button" class="btn {{btnNoClass}}" (click)="confirm(false)">{{btnNo || 'Cancelar'}}</button>
      </div>
    </div>
</div>
